.mi-home-area {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.mi-home-particle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.mi-home-content {
  text-align: center;
  padding: 50px 80px;
}
.mi-home-content h1 {
  font-weight: 700;
}
.mi-home-content p {
  margin-top: 15px;
  font-size: 1.25rem;
  line-height: 2rem;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .mi-home-content {
    padding: 50px 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mi-home-content {
    padding: 50px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mi-home-content {
    padding: 50px 0px;
  }
  .mi-home-content p {
    font-size: 1.15rem;
    line-height: 1.75rem;
  }
}

@media only screen and (max-width: 767px) {
  .mi-home-content {
    padding: 50px 0px;
  }
  .mi-home-content p {
    font-size: 1.08rem;
    line-height: 1.55rem;
  }
}

@media only screen and (max-width: 575px) {
  .mi-home-content h1 span {
    display: block;
  }
}

/*
 * Social Icons
 */
.mi-socialicons {
  padding-left: 0;
  margin-bottom: 0;
}
.mi-socialicons li {
  list-style: none;
  display: inline-block;
  margin: 0 8px;
  margin-top: -20px;
}
.mi-socialicons li a {
  display: inline-block;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  color: #a4acc4;
  font-size: 1.5rem;
}
.mi-socialicons li a:hover {
  color: #037fff;
}
.mi-socialicons-bordered li a {
  height: 45px;
  width: 45px;
  line-height: 1;
  text-align: center;
  border: 2px solid #2e344e;
  border-radius: 100px;
  line-height: 40px;
  font-size: 1.3rem;
}
.mi-socialicons-bordered li a svg {
  max-height: 100%;
}
.mi-socialicons-bordered li a:hover {
  border-color: #037fff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mi-socialicons-bordered li a {
    height: 42px;
    width: 42px;
    line-height: 38px;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 767px) {
  .mi-socialicons li a {
    font-size: 1.25rem;
  }
  .mi-socialicons-bordered li a {
    height: 38px;
    width: 38px;
    line-height: 38px;
    font-size: 1rem;
  }
}
