.mi-progress-title {
  font-weight: 600;
  margin-bottom: 0;
}

.mi-progress-inner {
  display: flex;
  align-items: center;
}

.mi-progress-percentage {
  flex: 0 0 60px;
}

.mi-progress-container {
  background: #2e344e;
  display: block;
  height: 6px;
  width: 100%;
  position: relative;
}

.mi-progress-active {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #037fff;
  width: 0;
  -webkit-transition: all 1s cubic-bezier(0.01, 0.57, 0.68, 1.05) 0s;
  transition: all 1s cubic-bezier(0.01, 0.57, 0.68, 1.05) 0s;
}
