/*
 * About Styles
 */
.mi-about-image {
  position: relative;
}
.mi-about-image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 65%;
  width: 15px;
  background: rgba(3, 127, 255, 0.6);
}
.mi-about-image::after {
  content: "";
  position: absolute;
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  height: 65%;
  width: 15px;
  background: rgba(3, 127, 255, 0.6);
}
.mi-about-image img {
  width: 100%;
}
.mi-about-image-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  width: 100px;
  margin-left: -50px;
  margin-top: -50px;
  color: #ffffff;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  pointer-events: none;
}
.mi-about-image-icon svg {
  height: 100%;
  width: 100%;
}
.mi-about-image:hover .mi-about-image-icon {
  visibility: visible;
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.mi-about-content h3 {
  font-weight: 600;
  margin-top: -8px;
}

.mi-about-content ul li {
  list-style: none;
  display: flex;
}
.mi-about-content ul li:not(:last-child) {
  margin-bottom: 3px;
}
.mi-about-content ul li b {
  min-width: 120px;
  display: inline-block;
  position: relative;
  margin-right: 7px;
}
.mi-about-content ul li b:after {
  content: ":";
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}

.mi-about-content .mi-button {
  margin-top: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mi-about-content {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .mi-about-image-icon {
    height: 70px;
    width: 70px;
    margin-left: -35px;
    margin-top: -35px;
  }
  .mi-about-content {
    margin-top: 30px;
  }
  .mi-about-content ul li b {
    min-width: 90px;
  }
}
