.mi-testimonial-slider .slick-list {
  margin-left: -15px;
  margin-right: -15px;
}

.mi-testimonial {
  margin: 0 15px;
}

.mi-testimonial-content {
  min-height: 150px;
  display: flex;
  align-items: center;
  padding: 30px;
  margin-bottom: 35px;
  position: relative;
  border-left: 5px solid #2e344e;
  background: #191d2b;
}
.mi-testimonial-content::after {
  content: "";
  position: absolute;
  left: 30px;
  top: 100%;
  border-style: solid;
  border-width: 12px;
  border-color: #191d2b transparent transparent #191d2b;
}
.mi-testimonial-content p {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.mi-testimonial-author h5 {
  margin-bottom: 0;
}

.mi-testimonial-author h6 {
  margin-bottom: 0;
  color: #a4acc4;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .mi-testimonial-content {
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mi-testimonial-content p {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 767px) {
  .mi-testimonial-content p {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 575px) {
  .mi-testimonial-content {
    padding: 20px;
  }
}

/* Slider */
.mi-testimonial-slideritem {
  outline: none;
}

.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
